<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="{% url 'appointment' %}" class="w3-button w3-bar-item">Book Appointment</a>
  <a href="{% url 'medicine' %}" class="w3-button w3-bar-item">Buy Medicine</a>
  <a href="{% url 'logout' %}" class="w3-button w3-bar-item">Logout</a>
</nav>

<!-- Slide Show -->
<section>
  <img class="mySlides" src="https://static.toiimg.com/photo/75603851.cms"
  style="width:100%">
  
</section>

<!-- Band Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
  <h2 class="w3-wide">HEALTH +</h2>
  <p class="w3-opacity"><i> A Family of doctors for your family..</i></p>
  
</section>

<!-- Band Members -->
<section class="w3-row-padding w3-center w3-light-grey">
  <article class="w3-third">
    <p>Dr.Nina</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMgKrGEEl1vj5A4JvKgyZK2yRFoB0VopyaKA&usqp=CAU" alt="Random Name" style="width:85%">
    <p>Gynocologist</p>
  </article>
  <article class="w3-third">
    <p>Dr.Paul</p>
    <img src="https://d33ljpvc0tflz5.cloudfront.net/dims3/MMH/140de9f/2147483647/strip/true/crop/6046x3388+0+323/resize/728x408!/quality/75/?url=https%3A%2F%2Fd26ua9paks4zq.cloudfront.net%2F12%2F14%2Fe71c531f414485bf0b3565483a4f%2Fimage-doctor.jpg" alt="Random Name" style="width:100%">
    <p>Neurologist</p>
  </article>
  <article class="w3-third">
    <p>Dr.Stefan</p>
    <img src="https://media.istockphoto.com/photos/happy-healthcare-practitioner-picture-id138205019?k=6&m=138205019&s=612x612&w=0&h=yfaDH3lhHH0mf1ND67iTISh_ZvdAbMre91X0qr7jK2s=" alt="Random Name" style="width:60%">
    <p>Cardiologist</p>
  </article>
</section>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official"></i></a>
  <a href="#"><i class="fa fa-pinterest-p"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-flickr"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <p class="w3-medium">
  
  </p>
</footer>



</body>
</html>

