<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="{% url 'new' %}" class="w3-button w3-bar-item">Home</a>
  <a href="{% url 'appointment' %}" class="w3-button w3-bar-item">Back</a>
  
</nav>
<!-- Band Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
  <h2 class="w3-wide">Payment paid  succcessfully!!</h2>
  <!-- <p class="w3-opacity"><i> You can pay cash on delivery</i></p>
   -->
</section>